@model ChangePasswordModel

@{
    ViewData["Title"] = "Change password form";
}

<div>
    <h1>Change password form</h1>

    <form asp-controller="Accounts" asp-action="ChangePassword" method="post">
        <div class="mb-3">
            <label for="Login" class="form-label">Email</label>
            <input asp-for="Login" type="Login" class="form-control" id="Login" required>
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="Oldpasswpr" class="form-label">Old Password</label>
            <input type="password" asp-for="Oldpassword" class="form-control" id="Oldpassword">
            <span asp-validation-for="Oldpassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="Newpassword" class="form-label">New Password</label>
            <input type="password" asp-for="Newpassword" class="form-control" id="Newpassword">
            <span asp-validation-for="Newpassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="PasswordConfirmation" class="form-label">PasswordConfirmation</label>
            <input type="password" asp-for="PasswordConfirmation" class="form-control" id="PasswordConfirmation">
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>

        </div>
    
        <input type="submit" class="btn btn-primary" value="Submit">
       
    </form>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}