@model EmailRecoveryPasswordModel
@{
    ViewData["Title"] = "Password recovery";
} 
<div>
    <h1>Password recovery form</h1>

    <form asp-controller="Accounts" asp-action="ResetPassword" method="get">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input asp-for="Login" type="login" class="form-control" id="login" required>
            <span asp-validation-for="Login" class="text-danger"></span>

        </div>
          
        <input type="submit" class="btn btn-primary" value="Submit">


    </form>
</div>