@model CreateVaccinationModel

@{
    ViewData["Title"] = "Update Vaccination";
}

<div>
    <h1>Edit Vaccination</h1>

    <form asp-controller="Vaccination" asp-action="EditVaccination" method="post">

        <div class="mb-3">
            <label asp-for="date" class="form-label">Date of Vaccination</label>
            <input asp-for="date" class="form-control" value=@Model.date.ToString("yyyy-MM-dd HH:mm:ss") >  
             <span asp-validation-for="date" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Remind" class="form-label">Remind</label>
            <input asp-for="Remind" type="checkbox"   id="Remind" value = "@Model.Remind">
            <span asp-validation-for="Remind" class="text-danger"></span>
        </div>

            
             
        <div class="mb-3">
            <label asp-for="RemindDate" class="form-label">RemindDate</label>
            <input asp-for="RemindDate" class="form-control" value=@Model.RemindDate?.ToString("yyyy-MM-dd HH:mm:ss") >
            <span asp-validation-for="RemindDate" class="text-danger"></span>
        </div>

        
        <select asp-for="VaccinationTypeId" >
            
            @foreach(var n in Model.Types)
            {
                <option  value="@n.Value">@n.Text</option> 
            }
        </select>
         

        <input type="submit" class="btn btn-primary" value="Submit">

    </form>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}