@{
    ViewData["Title"] = "Home Page";
}
@*
<div class="text-center">
        <h1 class="display-4">Welcome to MedAsistent Application</h1>
     </div>*@
   
 
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/css/img/stethoscope-g738ba4718_1280.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcom to MedAsistant</h5>
        <p>This application created for users whitch want to manage their shedule</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/css/img/notebook-g03978c470_1280.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block"> 
        <p>Why use notepad when there is a medAsistant</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/css/img/medical-gd5d5a5c45_1280.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block"> 
        <p>This application is completely free and looks forward to every new user</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>