@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MedAsistent Application</h1>
    <img src="/css/img/1614388188_15-p-svetlii-meditsinskii-fon-16.jpg" style="width:100%; height:100%;"> 
 </div>

 
