 @model CreatePrescriptionModel

@{
    ViewData["Title"] = "Add Prescription";
}

<div>
    <h1>Create Prescription</h1>

    <form asp-controller="Prescription" asp-action="AddPrescription" method="post">

        <div class="mb-3">
            <label asp-for="Dosage" >Дозировка</label><br/>
            <input asp-for="Dosage" type="text" id="Dosage" required>
            <span asp-validation-for="Dosage" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Bought" >Куплено/Нет</label><br/>
            <input asp-for="Bought" type="checkbox"   id="Bought">
            <span asp-validation-for="Bought" class="text-danger"></span>
        </div>
         
        <select asp-for="MedicineId" >
             <option selected="selected" disabled = "disabled">Выберите название препората</option>
            @foreach(var n in Model.Medicine)
            {
                <option  value="@n.Value">@n.Text </option> 
            }
        </select>
        

        <input type="submit" class="btn btn-primary" value="Submit">
 

    </form>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}